/*
.player1-turn {
   display: none;
 }*/
/*.player1-good-roll {
 display: none;
}*/
.player1-bad-roll {
 display: none;
}
.player2-turn {
  display: none;
}
.player2-good-roll {
  display: none;
}
.player2-bad-roll {
  display: none;
}
#winner {
  display: none;
}
#player1-rolled-number {
  color: red;
  font-weight: bold;
  font-size: 30px;
}
